<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_global/layouts/mainLayout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <th:block layout:fragment="script">
    <script th:inline="javascript">

      $(document).ready(function(){
        calculateTotalPrice();
        $("#count").change( function(){
          calculateTotalPrice();
        });
      });

      function calculateTotalPrice(){
        let count = $("#count").val();
        let price = $("#price").val();
        let totalPrice = price*count;
        $("#totalPrice").html('총 ' + totalPrice.toLocaleString('ko-KR') + " 원");
      }

      function order(){
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");

        const url = "/order/api/item";
        const param = {
          itemId : $("#itemId").val(),
          count : $("#count").val()
        };
        console.log(param);
        $.ajax({
          url : url,
          type : "POST",
          data : JSON.stringify(param),
          beforeSend : function(xhr){
            /* 데이터를 전송하기 전에 헤더에 csrf 값을 설정 */
            xhr.setRequestHeader(header, token);
          },
          contentType: "application/json; charset=utf-8",
          dataType : "text",
          error : function(jqXHR, status, error){
            if(jqXHR.status == 401){
              alert('로그인 후 이용해주세요');
              location.href="/auth/login";
            } else{
              alert(jqXHR.responseText);
            }
          },
          cache : false,
          success : function(result, status){
            console.log(result)
            alert("주문이 완료 되었습니다.");
            location.href='/';
          },
        });
      }

      function addCart(){
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");
        $.ajax({
          url : "/cart/api/item",
          type : "POST",
          data : JSON.stringify({
            itemId : $("#itemId").val(),
            count : $("#count").val()}),
          beforeSend : function(xhr){ xhr.setRequestHeader(header, token);},
          contentType: "application/json; charset=utf-8",
          dataType : "text",
          cache    : false,
          success  : function(result, status){
            console.log(status)
            alert("상품을 장바구니에 담았습니다.");
            location.href='/';
          },
          error : function(jqXHR, status, error){
            console.log(status)
              alert(jqXHR.responseText);
          }
        });
      }

    </script>
  </th:block>

  <th:block layout:fragment="css">
    <style>

      .mgb-15{
        margin-bottom:15px;
      }
      .mgt-30{
        margin:10px;
      }
      .mgt-50{
        margin-top:10px;
      }
      .carousel {
        height: 100%;
      }
      .images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .carousel {
        max-width: 450px;
      }
      .item-info{
        display: flex;
        max-width: 300px;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      .flex-column.item-name {
        min-height: 150px;
        word-wrap: break-word;
      }
    </style>
  </th:block>
</head>


<body>
<div layout:fragment="content">

  <main class="container">
    <input type="hidden" id="itemId" th:value="${itemId}">

    <!-- 상품 정보 -->
    <div class="images flex-md-row my-5 flex-column rounded border border-1 justify-content-around">

      <!-- 이미지 슬라이드 -->
      <div id="carouselExampleIndicators" class="carousel col p-3 slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <th:block th:each="image, i : ${item.productImageResponses}">
            <li data-target="#carouselExampleIndicators" th:data-slide-to="${i.count + 1}"></li>
          </th:block>
        </ol>
        <div class="carousel-inner p-3">
          <div class="carousel-item active">
            <img class="col-12" th:src="${'/' + item.thumbnailResponse.fullImagePath}" alt="thumbnail">
          </div>
          <th:block th:each="image, i : ${item.productImageResponses}">
            <div class="carousel-item">
              <img class="col-12" th:src="${'/' + image.fullImagePath}" alt="product">
            </div>
          </th:block>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <!-- 상품 정보 -->
      <div class="item-info py-5 px-3 m-4">
        <!-- 상품 상태 -->
        <div class="flex-column">
            <span th:if="${item.itemStatus eq T(com.greyfolk99.shopme.domain.item.ItemStatus).ON_SALE}" class="badge badge-primary my-1 p-1">
              판매중
            </span>
            <span th:unless="${item.itemStatus eq T(com.greyfolk99.shopme.domain.item.ItemStatus).ON_SALE}" class="badge btn-danger my-1 p-1" >
              품절
            </span>
        </div>
        <!-- 상품 이름 -->
        <div class="flex-column h2 h-100 item-name" th:text="${item.itemName}"></div>
        <!-- 상품 가격 -->
        <div class="flex-column">
          <input type="hidden" th:value="${item.price}" id="price" name="price">
          <h3 th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')}+'원'"></h3>
          <!-- 수량 입력 -->
          <div class="input-group text-right">
            <div class="input-group-prepend">
              <span class="input-group-text">수량</span>
            </div>
            <input type="number" name="count" id="count" class="form-control w-70" value="1" min="1">
          </div>
          <hr>
          <!-- 총 가격 -->
          <div class="text-right mgt-50">
            <h3 id="totalPrice" class="font-weight-bold"></h3>
          </div>
          <!-- 장바구니 담기, 주문하기 -->
          <div th:if="${item.itemStatus eq T(com.greyfolk99.shopme.domain.item.ItemStatus).ON_SALE}" class="text-right">
            <button type="button" class="btn btn-light border border-dark btn-md"
                    onclick="addCart()">장바구니 담기</button>
            <button type="button" class="btn btn-dark btn-md"
                    onclick="order()">주문하기</button>
          </div>
          <div th:unless="${item.itemStatus eq T(com.greyfolk99.shopme.domain.item.ItemStatus).ON_SALE}"
               class="text-right">
            <button type="button" class="btn btn-danger btn-md">품절</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 상품 상세 설명 -->
    <div class="jumbotron jumbotron-fluid rounded border border-1 p-5">
      <div>
        <h5>상품 상세 설명</h5>
        <hr>
        <p class="lead" th:text="${item.itemDetail}"></p>
      </div>
    </div>
    <div th:each="itemImage : ${item.productDetailImageResponses}" class="text-center">
      <img th:src="${'/' + itemImage.fullImagePath}" class="rounded mgb-15" width="800">
    </div>
    
  </main>
</div>
</body>
</html>