<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Shopme</title>

    <!-- Bootstrap + main CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link href="https://fonts.google.com/noto/specimen/Noto+Sans+KR" rel="stylesheet">
    <link th:href="@{/css/mainLayout.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"  integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


    <!-- jQuery + Popper + Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 오류 메시지 -->
    <script>
        $(document).ready(function(){
            var exception = [[${exception}]];
            if(exception != null){
                alert(exception);
            }
        });
    </script>
</head>

<body>
    <!-- Navigation Bar -->
    <div th:replace="_global/fragments/header::header"></div>
    <!-- Body -->
    <div layout:fragment="content"></div>
    <!-- Copyright -->
    <div th:replace="_global/fragments/footer::footer"></div>
</body>

</html>