
.thumbnail{
    margin-right:15px;
    margin-left:15px;
    height: 48px;
}
.fs18{
    font-size:18px
}
.fs24{
    font-size:24px
}

.column-1 {
    width: 10%;
}

.column-2 {
    width: 70%;
}

.column-3 {
    width: 20%;
}