<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{_global/layouts/mainLayout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <style>
    .thumbnail {
      height: 48px;
      width: 48px;
  }
  </style>
</head>

<body>
<div layout:fragment="content">
  <main class="container my-5">

    <!-- 주문 내역 loop -->
    <div th:each="order : ${orderHistoryPage.getContent()}">

      <!-- 주문 component -->
      <div class="content-items">

        <!-- 주문 일자, 주문취소 버튼 -->
        <div class="d-flex mb-3 align-self-center">
          <!-- 주문 일자 -->
          <h4 th:text="${order.orderDate} + ' 주문'"></h4>
          <!-- 주문취소 버튼 -->
          <div class="ml-3">
            <th:block th:if="${order.orderStatus.name() == 'CONFIRMED'}">
            <button class="btn btn-outline-secondary" type="button"
              th:value="${order.orderId}"
              onclick="cancelOrder(this.value)">주문취소
              <script th:inline="javascript">
                function cancelOrder(orderId) {
                  const token = $("meta[name='_csrf']").attr("content");
                  const header = $("meta[name='_csrf_header']").attr("content");
                  const url = "/order/api/" + orderId + "/cancel";
                  const paramData = {
                    orderId: orderId,
                  };
                  $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(paramData),
                    beforeSend: function (xhr) {
                      xhr.setRequestHeader(header, token);
                    },
                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                      alert("주문이 취소 되었습니다.");
                      location.href = '/order/list';
                    },
                    error: function (jqXHR, status, error) {
                      if (jqXHR.status === 401) {
                        alert('로그인 후 이용해주세요');
                        location.href = '/auth/login';
                      } else {
                        alert(jqXHR.responseText);
                      }
                    }
                  });
                }
              </script>
            </button>
            </th:block>
            <th:block th:unless="${order.orderStatus.name() == 'CONFIRMED'}">
            <h6 style="margin-top : 6px">(취소 완료)</h6>
            </th:block>
          </div>
        </div>

        <!-- 주문 상품 componenet -->
        <div class="card d-flex">

          <!-- 주문 상품 loop -->
          <div class="d-flex mb-3" th:each="orderItem : ${order.orderItemResponseList}">
            <!-- 상품 이미지 -->
            <div class="thumbnail">
              <img th:src="${'/' + orderItem.fullImagePath}" class = "rounded thumbnail" th:alt="${orderItem.itemName}">
            </div>
            <!-- 상품 이름, 가격, 수량 -->
            <div class="align-self-center w-75">
              <span th:text="${orderItem.itemName}" class="fs24 font-weight-bold"></span>
              <div class="fs18 font-weight-light">
                <span th:text="${#numbers.formatInteger(orderItem.orderPrice, 3, 'COMMA')} +'원'"></span>
                <span th:text="${orderItem.count} +'개'"></span>
              </div>
            </div>
          </div>

        </div>
        <div>
          <span th:text="'총 ' + ${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')} + '원'"></span>
        </div>
      </div>
    </div>
    <!-- 주문 내역 loop out -->

    <!-- 페이지 버튼 -->
    <div>
      <ul class="pagination justify-content-center">
        <!-- Previous -->
        <li class="page-item"
          th:classappend="${orderHistoryPage.number + 1} <= 1 ? ' disabled' : ''">
          <a class="page-link" aria-label='Previous'
             th:text="'Previous'"
             th:href="@{/order/list(page=${orderHistoryPage.number})}"/>
        </li>
        <!-- Page -->
        <li class="page-item"
          th:each="barNumber : ${barNumbers}"
          th:classappend="${barNumber == orderHistoryPage.number + 1}?' active' : ''">
          <a class="page-link"
               th:text="${barNumber}"
               th:href="@{/order/list(page=${barNumber})}">
          </a>
        </li>
        <!-- Next -->
        <li class="page-item"
          th:classappend="${orderHistoryPage.number + 1 == orderHistoryPage.totalPages} ? ' disabled' : ''">
          <a class="page-link" aria-label='Next'
             th:text="'Next'"
             th:href="@{/order/list(page=${orderHistoryPage.number + 2})}">
          </a>
        </li>
      </ul>
    </div>

</main>
</div>

</body>
</html>