<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_global/layouts/mainLayout}">
<head>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });
        function page(page){
            const itemSearchDateType = $("#itemSearchDateType").val();
            const itemStatus = $("#itemStatus").val();
            const searchBy = $("#searchBy").val();
            const searchQuery = $("#searchQuery").val();

            location.href="/admin/items/" + page +
            "?itemSearchDateType=" + itemSearchDateType +
            "&itemStatus=" + itemStatus +
            "&searchBy=" + searchBy +
            "&searchQuery=" + searchQuery;
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>
</head>
<body>
<div layout:fragment="content">
    <main class="container my-5">
    <form th:action="@{'/admin/items/' + ${items.number + 1}}" role="form" method="get" th:object="${items}">
        <table class="table my-5">
            <thead>
            <tr>
                <td>상품아이디</td>
                <td>상품명</td>
                <td>상태</td>
                <td>재고</td>
                <td>등록자</td>
                <td>등록일</td>
                <td> </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, status : ${items.content}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemName}"></a>
                </td>
                <td th:text="${item.itemStatus.text}"></td>
                <td th:text="${item.stock}"></td>
                <td th:text="${item.createdBy}"></td>
                <td th:text="${item.createdDate}"></td>
                <td><button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true" th:data-id="${item.id}" onclick="deleteItem(this)">&times;</span>
                    <script>
                        function deleteItem(obj){
                            const token = $("meta[name='_csrf']").attr("content");
                            const header = $("meta[name='_csrf_header']").attr("content");
                            const itemId = obj.dataset.id;
                            const url = "/admin/item/" + itemId;
                            console.log(itemId);
                            let deleting = confirm("삭제 하시겠습니까?");
                            if(!deleting){
                                alert("삭제가 취소 되었습니다.")
                                return;
                            }
                            $.ajax({
                                url : url,
                                type : "DELETE",
                                beforeSend : function(xhr){
                                    xhr.setRequestHeader(header, token);
                                },
                                contentType: "application/json; charset=utf-8",
                                dataType : "text",
                                cache : false,
                                success : function(result, status){
                                    alert("삭제 되었습니다.");
                                    location.reload();
                                },
                                error : function(jqXHR, status, error){
                                    if(jqXHR.status == 401){
                                        alert('로그인 후 이용해주세요');
                                        location.href = '/auth/login';
                                    } else{
                                        alert(jqXHR.responseText);
                                    }
                                }
                            });
                        }
                    </script>
                    </button></td>
            </tr>
            </tbody>
        </table>

        <div>
            <ul class="pagination justify-content-center">
                <!--Previous 이전 버튼-->
                <li class="page-item"
                    th:classappend="${items.number + 1} <= 1 ? ' disabled' : ''">
                    <a th:onclick="'javascript:page(' + ${items.number} + ')'"
                        aria-label='Previous' class="page-link" style="cursor : pointer;">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>
                <!--페이지 요소들-->
                <li class="page-item" th:each="barNumber : ${barNumbers}"
                    th:classappend="${barNumber == items.number + 1}? ' active' : ''">
                    <a th:text="${barNumber}"
                       th:onclick="'javascript:page(' + ${barNumber} + ')'"
                       th:inline="text" class="page-link" style="cursor : pointer;"></a>
                </li>
                <!--Next 다음 버튼-->
                <li class="page-item"
                    th:classappend="${items.number + 1 >= items.totalPages} ? ' disabled' : '' ">
                    <a th:onclick="'javascript:page(' + ${items.number + 2} + ')'"
                       aria-label='Next' class="page-link" style="cursor : pointer;">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="form-inline justify-content-center" th:object="${searchForm}">
            <select th:field="*{itemSearchDateType}" class="form-control" style="width:auto;">
                <th:block th:each="status : ${T(com.greyfolk99.shopme.domain.item.ItemSearchDateType).values()}">
                <option th:value="${status.name()}" th:text="${status.dateType}"></option>
                </th:block>
            </select>
            <select th:field="*{itemStatus}" class="form-control" style="width:auto;">
                <option value="">판매상태(전체)</option>
                <th:block th:each="status : ${T(com.greyfolk99.shopme.domain.item.ItemStatus).values()}">
                    <option th:value="${status}" th:text="${status.text}"></option>
                </th:block>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="itemName">상품명</option>
                <option value="createdBy">등록자</option>
            </select>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
        </div>
    </form>
    </main>
</div>
</body>
</html>