<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_global/layouts/mainLayout}">
<head>
    <link th:href="@{/css/image-uploader.css}" rel="stylesheet" />
    <style>
        .input-group {
            margin-bottom : 15px}
        .img-div {
            margin-bottom : 10px}
        .fieldError {
            color: #bd2130;}
    </style>
    <script th:inline="javascript" th:src="@{/js/image-uploader.js}"></script>
    <script th:inline="javascript">

    function deletePreloadedItemImage(imageId){

        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");
        if (!confirm("삭제 하시겠습니까?")) { return; }
        $.ajax({
            url: "/admin/item/image/api/" + imageId,
            type: 'DELETE',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            beforeSend: function(xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function(result) {
                alert("이미지를 삭제했습니다.");
                location.reload();
            },
            error: function (jqXHR, status, error) {
                alert("error");
                console.log(jqXHR);
                console.log(status);
                console.log(error);
            }
        });
    }


    $(document).ready(function(){
        const checkResult = function(){
            console.log()
        }
        const $thumbnailContainer = $('.image-uploader.thumbnail');
        const $productContainer = $('.image-uploader.product-image');
        const $detailContainer = $('.image-uploader.product-detail-image');

        const thumbnailResponses = [[${itemForm.thumbnailResponses}]];
        const thumbnailFilesKey = $thumbnailContainer.data('uploading-file-key');
        const thumbnailIdsKey = $thumbnailContainer.data('preloaded-id-key');
        const thumbnailSrcsKey = $thumbnailContainer.data('preloaded-src-key')

        const productImageResponses = [[${itemForm.productImageResponses}]];
        const productImageFilesKey = $productContainer.data('uploading-file-key');
        const productImageIdsKey = $productContainer.data('preloaded-id-key');
        const productImageSrcsKey = $productContainer.data('preloaded-src-key')

        const detailImageResponses = [[${itemForm.productDetailImageResponses}]];
        const detailImageFilesKey = $detailContainer.data('uploading-file-key');
        const detailImageIdsKey = $detailContainer.data('preloaded-id-key');
        const detailImageSrcsKey = $detailContainer.data('preloaded-src-key')

        $thumbnailContainer.imageUploader({
            preloaded: thumbnailResponses != null ? thumbnailResponses : [],
            preloadedImageIdsKey: thumbnailIdsKey,
            preloadedImageSrcKey: thumbnailSrcsKey,
            preloadedDeletingAjax: deletePreloadedItemImage,
            uploadingImageFilesKey: thumbnailFilesKey,
            placeholder: '업로드하려면 파일을 끌어다 놓거나 여기를 클릭하세요1',
            extensions: ['.jpg', '.jpeg', '.png', '.gif', '.svg'],
            mimes: ['image/jpeg', 'image/png', 'image/gif', 'image/svg+xml'],
            maxSize: 20 * 1024 * 1024, // 20 MB
            maxFiles: 1
        });
        $productContainer.imageUploader({
            preloaded: productImageResponses != null ? productImageResponses : [],
            preloadedImageIdsKey: productImageIdsKey,
            preloadedImageSrcKey: productImageSrcsKey,
            preloadedDeletingAjax: deletePreloadedItemImage,
            uploadingImageFilesKey: productImageFilesKey,
            placeholder: '업로드하려면 파일을 끌어다 놓거나 여기를 클릭하세요2',
            extensions: ['.jpg', '.jpeg', '.png', '.gif', '.svg'],
            mimes: ['image/jpeg', 'image/png', 'image/gif', 'image/svg+xml'],
            maxSize: 20 * 1024 * 1024, // 20 MB
            maxFiles: 5
        });
        $detailContainer.imageUploader({
            preloaded: detailImageResponses != null ? detailImageResponses : [],
            preloadedImageIdsKey: detailImageIdsKey,
            preloadedImageSrcKey: detailImageSrcsKey,
            preloadedDeletingAjax: deletePreloadedItemImage,
            uploadingImageFilesKey: detailImageFilesKey,
            placeholder: '업로드하려면 파일을 끌어다 놓거나 여기를 클릭하세요3',
            extensions: ['.jpg', '.jpeg', '.png', '.gif', '.svg'],
            mimes: ['image/jpeg', 'image/png', 'image/gif', 'image/svg+xml'],
            maxSize: 20 * 1024 * 1024, // 20 MB
            maxFiles: 10
        });
        // Get the form element
            var form = document.getElementsByClassName("item-form")[0];

        // Add an event listener for the form submit event
            form.addEventListener("submit", function(event) {
                // Prevent the default form submission behavior
                event.preventDefault();
                // Create a new FormData object from the form data
                var formData = new FormData(form);
                // Log the FormData object to the console
                console.log(formData);
                // Submit the form using AJAX or other means
                form.submit();
            });

    });
    </script>
</head>
<body>
<div layout:fragment="content">
<main class="container my-5">
    <form class="item-form" role="form" method="post" enctype="multipart/form-data"  th:object="${itemForm}">
        <input type="hidden" name="itemId" th:value="${itemId}">
        <p class="h3 text-center my-5">상품 등록</p>
        <div class="form-group mb-3">
            <select th:field="*{itemStatus}" class="custom-select">
                <th:block th:each="itemStatus : ${T(com.greyfolk99.shopme.domain.item.ItemStatus).values()}">
                    <option th:value="${itemStatus}" th:text="${itemStatus.text}"></option>
                </th:block>
            </select>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">상품명</span>
            </div>
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="상품명을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}" class="fieldError">Incorrect data</p>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">가격</span>
            </div>
            <input type="number" th:field="*{price}" class="form-control" placeholder="상품의 가격을 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError">Incorrect data</p>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">재고</span>
            </div>
            <input type="number" th:field="*{stock}" class="form-control" placeholder="상품의 재고를 입력해주세요">
        </div>
        <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="fieldError">Incorrect data</p>
        <div class="input-group" style="min-height: 300px">
            <div class="input-group-prepend">
                <span class="input-group-text">상품 상세 내용</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" th:field="*{itemDetail}"></textarea>
        </div>
        <p th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}" class="fieldError">Incorrect data</p>

        <div>썸네일</div>
        <div class="image-uploader thumbnail"
             data-preloaded-id-key="thumbnailIds"
             data-uploading-file-key="thumbnailFiles"
             data-preloaded-src-key="fullImagePath">
        </div>
        <p th:if="${#fields.hasErrors('thumbnailValid')}" th:errors="*{thumbnailValid}" class="fieldError">Incorrect data</p>

        <div>상품 이미지</div>
        <div class="image-uploader product-image"
             data-uploading-file-key="productImageFiles"
             data-preloaded-id-key="productImageIds"
             data-preloaded-src-key="fullImagePath">
        </div>
        <p th:if="${#fields.hasErrors('productImageValid')}" th:errors="*{productImageValid}" class="fieldError">Incorrect data</p>

        <div>상품 상세 이미지</div>
        <div class="image-uploader product-detail-image"
             data-uploading-file-key="productDetailImageFiles"
             data-preloaded-id-key="productDetailImageIds"
             data-preloaded-src-key="fullImagePath">
        </div>
        <p th:if="${#fields.hasErrors('productDetailImageValid')}" th:errors="*{productDetailImageValid}" class="fieldError">Incorrect data</p>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div th:if="${itemId == null}">
            <button th:href="@{'/admin/item/new'}" type="submit" class="btn btn-primary text-center my-3">저장</button>
        </div>
        <div th:if="${itemId != null}">
            <button th:href="@{'/admin/item/' + ${itemId}}" type="submit" class="btn btn-primary text-center my-3">수정</button>
        </div>

    </form>
</main>

    </div>
</body>
</html>