<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_global/layouts/mainLayout}">
<head>

  <th:block layout:fragment="css">
    <style>
          .error {
              color: #bd2130;
          }
          .content-items {
              margin: 30px auto;
              vertical-align: middle
          }
    </style>
  </th:block>
</head>
<body>
<div layout:fragment="content">

  <div class="row d-flex align-items-center m-5">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">

      <!-- 로그인 폼 -->
      <form role="form" method="post" action="/auth/login">

        <!-- 이메일 주소(username) -->
        <div class="form-group m-2">
        <label th:for="email">이메일주소</label>
        <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
        </div>

        <!-- 비밀번호 -->
        <div class="form-group m-2">
        <label th:for="password">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
        </div>

        <!-- 예외 메세지 -->
        <p th:if="${error}" class="error" th:text="${exception}"></p>

        <!-- 로그인 버튼 -->
        <button type="submit" class="btn btn-dark m-2">로그인</button>
        <button type="button" class="btn btn-dark m-2" onClick="location.href='/auth/join'">회원가입</button>
        <div>
          <label for="remember-me">로그인 상태 유지</label>
          <input type="checkbox" name="remember-me" id="remember-me" class="m-2">
        </div>

        <a th:href="@{/oauth2/authorization/google(prompt='select_account')}" class="btn btn-google">
          <i class="fab fa-google"></i>
          Log in with Google
        </a>

        <!-- Button to log in with Kakao -->
        <a th:href="@{/oauth2/authorization/kakao}" class="btn btn-kakao">
          <i class="fa fa-comment"></i>
          Log in with Kakao
        </a>

        <!-- CSRF 토큰 -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      </form>

    </div>
    </div>
</div>

</body>
</html>
